footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    width: 100%;
    padding-top: 70px;
    background-color: #222222;
    z-index: 1000;
    

}
.redes-sociais{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
    
   
    
}
.itens-redes-sociais{
    justify-content: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 7px;
    border: none ;
    border-radius: 222px;
    
    
    
}
.footergeral{
    display: inline-block;
     padding-left: 0px;
     align-items: center;
    
}

.youtube {
        width: 33px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.youtube:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.facebook{
    width: 30px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    
}

.facebook:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.instagram{
    width: 32px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border: none;
  
}

.instagram:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.ferramentas-footer{
    width: 35%;
    display: flex;
    height: 140px;
    padding-top: 0px;
    flex-direction: column;
    color: white;
}

.ferramentas-footer a:hover{
    color: #F41300;
    transform: scale(1.03);
    transition: all 0.50s ease;
}
.item-footer{
    color: white;
    font-weight: 600;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 22px;
    
}

@media (max-width:601px){

    footer{
        width: 100%;
    }
    
    .ferramentas-footer{
        gap: 10px;
        
    }
    .itens-redes-sociais{
        display: flex;
    }
}

