@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Link da Fonte*/
*,
 *::before,
*::after{
        font-family: "Poppins", sans-serif;
         box-sizing: border-box;
         margin: 0;
         padding: 0;
    }

body{
    background-color:#000000;
}

#menu-escondido{
    display: none;
}

.menu{
    display: none;
}

.hamburguer{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #222222;
}



.logo:hover{
     transform: scale(1.03);
    transition: all 1s ease;
    cursor: pointer;
}

.cabeçalho{
    margin-bottom: 190px;
}

.itens-cabeçalho{
    background-color: #222222;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    padding: 14px;
    margin: 0;
}

.itens-cabeçalho a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 0;
    padding: 5px 10px;
    font-size: 20px;
}

.itens-cabeçalho li a:hover{
     color: #F41300;
    transform: scale(1.03);
    transition: all 0.50s ease;
}

hr{
    background-color: black;
    height: 56px;
    border: none;
}

.itens-navegação{
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 601px){

    .hamburguer{
        position: fixed;
        width: 100%;
        align-items: center;
        z-index: 10000;
    }
    
    #menu-escondido:checked ~ .menu-linhas{
    
    transition: all 0.3s ease;
}

    .cabeçalho{
        display: none;
    }


    #menu-escondido{
    display: none;
}



.menu-linhas{
    position: fixed;
    top: 25px;
    left: 30px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-linhas span{
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    transition: 0.3s;
}

.menu{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    display: inline-block;
    transition: left 0.3s ease;
    padding-top: 60px;
    z-index: 1001;
}

.menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

.menu ul li:hover{
    background: rgb(255, 255, 255, 0.1);
    cursor: pointer;
}

.itens-hamburguer a{
    color: white;
    text-decoration: none;
    list-style: none;

}

.itens-hamburguer a:hover{
    color: #F41300;
     transform: scale(1.03);
    transition: all 0.50s ease;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

#menu-escondido:checked ~ .menu{
    left: 0;
}
#menu-escondido:checked~ .overlay{
    opacity: 1;
    pointer-events: 1;
}

#menu-escondido:checked + .menu-linhas span:nth-child(1){
    transform: rotate(45deg) translateY(13px);
    background: white;
}

#menu-escondido:checked + .menu-linhas span:nth-child(2){
    opacity: 0;
}

#menu-escondido:checked + .menu-linhas span:nth-child(3){
    transform: rotate(-45deg) translateY(-13px);
    background: white;
}

.hamburguer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}
}

