@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.contendo-infograma{
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.contendo-infograma img{
    width: 100px;
    height: auto;
    z-index: 1;
}

.forma{
    width: 100px;
    height: auto;
    margin: 0px 0px 0px 0px;
}

.forma1{
    width: 100px;
    height: auto;
    margin-left: 1800px;
}


.titulo-infograma{
    color: #F41300;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 80px; /*Definir depois quanto de espaçamento terá*/
}

.contendo-topico-infograma {
  width: 100%;
  
}

.contendo-topico-infograma h1{
    display: none;
}

.contendo-topico-infograma h2{
margin-left: 250px;
 color: #F41300;
 text-align: left;
 font-size: 2.4rem;
 
}

.contendo-topico-infograma p{
   color: #000000;
   font-size: 2.0rem;
   text-align: left;
   font-weight: 500;
   margin-right: 900px;
   margin-left: 20px;
   margin-bottom: 100px;
   
}

.contendo-topico-infograma img{
    float: right;
     position: absolute;
        left: 1030px; /* ajuste a posição */
        top: 40%;
        transform: translateY(-45%);
        width: 150px;  /* aumenta aqui */
        height: auto;   
        object-fit: cover;
}
/*Segundo topico*/
.contendo-topico-infograma2 h2{
    margin-right: 100px;
    color: #F41300;
    text-align: right;
    font-size: 2.4rem;
}

.contendo-topico-infograma2 p{
   color: #000000;
   font-size: 2.0rem;
   text-align: right;
   font-weight: 500;
   margin-left: 1100px;
   margin-right: 20px;
   margin-bottom: 100px;
   
}

.contendo-topico-infograma2 img{
    float: left;
    position: absolute;
    left: 950px; /* ajuste a posição */
    top: 75%;
    transform: translateY(-45%);
    width: 200px;  /* aumenta aqui */
    height: auto;   
    object-fit: cover;
}
/*Terceiro topico*/
.contendo-topico-infograma3 h2{
 margin-left: 0px;
 color: #F41300;
 text-align: left;
 font-size: 2.4rem;
}

.contendo-topico-infograma3 p{
   color: #000000;
   font-size: 2.0rem;
   text-align: left;
   font-weight: 500;
   margin-right: 1100px;
   margin-left: 20px;
   margin-bottom: 100px;
}

.contendo-topico-infograma3 img{
    float: left;
    position: absolute;
    left: 900px; /* ajuste a posição */
    top: 110%;
    transform: translateY(-45%);
    width: 200px;  /* aumenta aqui */
    height: auto;   
    object-fit: cover;
}
/*Quarto topico*/
.contendo-topico-infograma4 h2{
    margin-right: 150px;
    color: #F41300;
    text-align: right;
    font-size: 2.4rem;
}

.contendo-topico-infograma4 p{
   color: #000000;
   font-size: 2.0rem;
   text-align: right;
   font-weight: 500;
   margin-left: 1150px;
   margin-right: 20px;
   margin-bottom: 100px;

}
.contendo-topico-infograma4 img{
    float: left;
    position: absolute;
    left: 950px; /* ajuste a posição */
    top: 142%;
    transform: translateY(-45%);
    width: 200px;  /* aumenta aqui */
    height: auto;   
    object-fit: cover;
}
/*Quinto topico*/
.contendo-topico-infograma5 h2{
 margin-left: 20px;
 color: #F41300;
 text-align: left;
 font-size: 2.4rem;
}

.contendo-topico-infograma5 p{
   color: #000000;
   font-size: 2.0rem;
   text-align: left;
   font-weight: 500;
   margin-right: 1100px;
   margin-left: 20px;
   margin-bottom: 100px;
}
.contendo-topico-infograma5 img{
    float: left;
    position: absolute;
    left: 800px; /* ajuste a posição */
    top: 172%;
    transform: translateY(-45%);
    width: 200px;  /* aumenta aqui */
    height: auto;   
    object-fit: cover;
}
/*Sexto topico*/
.contendo-topico-infograma6 h2{
    margin-right: 0px;
    color: #F41300;
    text-align: right;
    font-size: 2.4rem;
}

.contendo-topico-infograma6 p{
   color: #000000;
   font-size: 2.0rem;
   text-align: right;
   font-weight: 500;
   margin-left: 1200px;
   margin-right: 20px;

}
.contendo-topico-infograma6 img{
    float: left;
    position: absolute;
    left: 1000px; /* ajuste a posição */
    top: 210%;
    transform: translateY(-45%);
    width: 200px;  /* aumenta aqui */
    height: auto;   
    object-fit: cover;
}

@media (max-width: 601px){
.contendo-infograma{
    background-color: white;
    width: 100%;
    height: 100%;
   
}
.titulo-infograma{
    opacity: 0;
    cursor: default;
}



.contendo-topico-infograma h1{
    display: inline;
    text-align: center;
    width: 100%;
    color: #F41300;
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    margin-bottom: 80px;
    justify-content: center;
}

.contendo-topico-infograma h2{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;

}

.contendo-topico-infograma p{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

}

.contendo-topico-infograma2 h2{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.contendo-topico-infograma2 p{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.contendo-topico-infograma3 h2{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.contendo-topico-infograma3 p{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.contendo-topico-infograma4 h2{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.contendo-topico-infograma4 p{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.contendo-topico-infograma5 h2{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.contendo-topico-infograma5 p{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.contendo-topico-infograma6 h2{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.contendo-topico-infograma6 p{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}




.contendo-topico-infograma img{
    
        display: none;
}

.contendo-topico-infograma2 img{
  
        display: none;
}

.contendo-topico-infograma3 img{
   
        display: none;
}

.contendo-topico-infograma4 img{
    
        display: none;
}.contendo-topico-infograma5 img{
   
        display: none;
}

.contendo-topico-infograma6 img{

        display: none;
}

}