/*Link da font*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Estilização padrão na página inteira*/
*{
    font-family: "Poppins", sans-serif;/*Definição da fonte*/
    margin: 0px; /*Tirando os espaçamento externos padrões*/
    padding: 0px;/*Tirando os espaçamentos internos padrões*/
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #c4dae6;/*Definindo a cor de fundo do site*/
}

/*Botão Whatsapp*/
/*A animação de Blink só foi colocada por que está nos Requisitos Técnicos*/
.whatsapp-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #25d366;
            color: white;
            border: none;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            text-decoration: none;
            animation: blink 3s infinite linear alternate;
        }
        /*Animação de piscada no botão do Whatsapp*/
        @keyframes blink {
            0%, 50% {opacity: 1;}
            100% {opacity: 0;}
        }
        /*Deixa o botão com uma cor mais escura quando você passar o mouse por cima*/
        .whatsapp-button:hover {
            background-color: #1ebe57;
        }
        /*Ajuste na largura e tamanho da imagem do Whatsapp*/
        .whatsapp-button img {
            width: 30px;
            height: 30px;
        }

/*Cabeçalho*/
header{
    width: 100%;
    padding: 28px 8%;
}
section{
    padding: 28px 8%;
} 
/*Estilização na barra de*/
#barra-de-navegação{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}


#logo{
    font-size: 24px;
    color: #4F61FF;
    cursor: pointer;
    
     
}

#logo:hover{
     transform: scale(1.03);
    transition: all 1s ease;
}

#itens-navegação{
    display: flex;
    list-style: none;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #4F61FF;
    border: none;
    border-radius: 16px;
    padding: 4px 8px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
     
}
.item a{
    font-weight: 600;
    text-decoration: none;
    color: white;
     cursor: pointer;
    
     
}
.item a:hover{
    font-weight: 600;
    text-decoration: none;
    color: #d3d3d3;
   
}

/*Inicio*/
#contendo{
    display: flex;
    min-height: 30vh;
    position: relative;
}

/*Botão padrão*/
.botão-padrão {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F61FF;
    border-radius: 12px;
    padding: 20px 15px;
    margin: 0px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.8rem;
    animation: fade-in 2s ease forwards;
    /*Aplicar uma animação no botão */
}


.botão-padrão:hover{
    transform: scale(1.03);
    transition: all 1s ease;
    background-color: #5f6fff;
}


#inicio{
    width: 35%;
    display: flex;
    gap: 20px;
    margin-top: 1%;
    padding: 28px 8%;
}

#inicio .titulo{
    font-size: 4rem;
    color: black;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    animation: slide-in-left 2s ease ;
}

#inicio .titulo span{
    color: #4F61FF;
    display: flex;
    font-size: 4rem;
    animation: slide-in-left 1.9s ease ;
    
}
#inicio .sub-titulo{
    font-size: 1.6rem;
    animation: slide-in-left 1.7s ease ;
    
}
/*Slide-in foi usado para dar um efeito de entrada, quando o usuario abrir a página, ele vai ver a forma e a imagem vindo da esquerda até o seu ponto 0*/
@keyframes slide-in-left {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}

/*banner principal*/

#banner{
    display: flex;
    padding: 0px 450px;
    width: 100%;
    z-index: 2;
    height: auto;
    position: relative;
    animation: slide-in 2.0s ease ;
}


/*Forma de fundo do banner*/

.forma{
    background-color: #4F61FF;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 40% 0% 30%;
    z-index: 1;
    top: 0;
    right: 0;
    animation: slide-in 1.5s ease ;
}
/*Slide-in foi usado para dar um efeito de entrada, quando o usuario abrir a página, ele vai ver a forma e a imagem vindo da esquerda até o seu ponto 0*/
@keyframes slide-in {
    from {transform: translateX(-120%);}
    to {transform: translateX(0);}
}


/*Cards*/

.titulo-card{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 28px;
    color: #000000;
    font-weight: 600;
    font-size: 2.6rem;
    animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 380px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.card a{
    background-color: #4F61FF;
    color: white;
    font-weight: 600;
    padding: 15px 20px; 
    text-decoration: none;
    display: block;
    align-items: center;
    text-align: center;
    margin: 20px 50px;
}

.card a:hover{
    background-color: #5f6fff;
}

.card:hover{
    transform: scale(1.03);
    transition: all 1s ease;
}

.card h2{
    padding: 10px;
    color: #4F61FF;
}

.card p{
    padding: 10px;
}

.card-image{
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.car-1 {
    background-image: url(./imagens/pexels-kyleloftusstudios-6621400.jpg);
}

.car-2{
    background-image: url(./imagens/pexels-kyleloftusstudios-5563238.jpg);
}

.car-3{
    background-image: url(./imagens/pexels-bertellifotografia-33714927.jpg);
}

/*Menu Hamburguer*/
label{
    display: none;
    
}

.menu-escondido, .menu{
    display: none;
}
.linha{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #4F61FF;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
   
}

.menu{
    max-height: 0;
    overflow: hidden;
    transition: 0.2s linear;
    list-style: none;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    background-color: #96c6d9;
    z-index: 1000;
}
.menu li{
    font-size: 16px;
    display: block;
    flex-direction: row;
    padding: 14px;
    text-align: center;
}
.menu a{
    color: #4F61FF;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}


.menu li a:hover{
    color: white;
    transform: scale(1.03);
    transition: all 1s ease;
}
.menu-escondido:checked~.menu{
    max-height: 500px;
    padding: 8px 0px;
}
.menu-escondido:checked~.hamburguer .linha1{
    transform: rotate(45deg) translate(8px, 8px);
    z-index: 10001;
}
.menu-escondido:checked~.hamburguer .linha2{
    opacity: 0;
    z-index: 10001;
}
.menu-escondido:checked~.hamburguer .linha3{
    transform: rotate(-45deg) translate(8px, -8px);
    z-index: 10001;
}

/*Footer*/

hr{
    background-color: rgb(248, 248, 248);
      height: 5px;
      margin: 0;
      padding: 0; 
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    width: 100%;
    padding-top: 70px;
    background-color: #4F61FF;
    

}
.redes-sociais{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
    
   
    
}
.itens-redes-sociais{
    justify-content: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 7px;
    border: none ;
    border-radius: 222px;
    
    
    
}
.footergeral{
    display: inline-block;
     padding-left: 0px;
     align-items: center;
    
}

.youtube {
        width: 33px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.youtube:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.facebook{
    width: 30px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    
}

.facebook:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.instagram{
    width: 32px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border: none;
  
}

.instagram:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.ferramentas-footer{
    width: 35%;
    display: flex;
    height: 140px;
    padding-top: 15px;
    flex-direction: column;
    color: white;
}

.ferramentas-footer a:hover{
    color: #d3d3d3;
}
.item-footer{
    color: white;
    font-weight: 600;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    
}

/*Responsividade da página*/
@media(max-width:601px){
     .hamburguer{
        cursor: pointer;
        padding: 0px;
        flex-direction: column;
        justify-content: space-around;
        width: 32px;
        height: 32px;
        display: flex;
    }
    .hamburguer:hover .linha{
        background-color: #4F61FF;

    }
    #itens-navegação {
        display: none;
    }

    .cabeçalho{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #barra-de-navegação {
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        gap: 0px;
        
    }

    #barra-de-navegação .menu{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        margin: 0;
    }

    #inicio .titulo span{
        width: 100%;
        display: flex;
        font-size: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    #inicio .titulo{
        width: 100%;
        display: flex;
        font-size: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #inicio{
        width: 100%;
        display: inline;
    }
        
    .usuario{
      align-items: center;
      position: relative;
      justify-content: center;
    margin-left: 15px;
   
}
    

    #botão-inicio {  
    padding-top: 20px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;

    }

    .botão-padrão{
        width: 100%;
        display: flex;
    }
        
    .titulo-card{
        width: 100%;
        display: flex;
    }
      
    #banner{
        display: none;
    }

    .menu {
        display: block;
    }

    .forma{
        display: none;
    }
    #textos-principais-inicio{
        text-align: center;
        font-size: 1.3em;
        flex-direction: column;
        display: flex;
    }
    footer{
        width: 100%;
    }
    .card{
        align-items: center;
        text-align: center;
        width: 100%;
    }
}
   